# Working with Jupyter and Microsoft Excel in tandem

There exist thousands of Microsoft Excel workbooks and, on the other hand, Python programming language enables many statistical calculations performed in hardly no time at all.

In this notebook we work with the Python library called __xlwings__ which allows collaboration with Jupyter and Microsoft Excel.

In [1]:
### First, import the necessary libraries.

import pandas as pd
import matplotlib.pyplot as plt
import xlwings as xw

In the next step assume we have a Microsoft Excel workbook open on your desktop. In this example we have opened the network file http://myy.haaga-helia.fi/~menetelmat/Data-analytiikka/Teaching/titanic.xlsx with information about the ship Titanic with sad destiny. Remember to enable editing of the workbook if needed.

In [2]:
### Read the data into a dataframe.
### 

titanic = xw.load(index = False)

### Peak the dataframe.

titanic

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160.0,211.3375,B5,S,2.0,None,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781.0,151.5500,C22 C26,S,11,None,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781.0,151.5500,C22 C26,S,None,None,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781.0,151.5500,C22 C26,S,None,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781.0,151.5500,C22 C26,S,None,None,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3.0,0.0,"Zabour, Miss. Hileni",female,14.5000,1.0,0.0,2665,14.4542,None,C,None,328,None
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,None,C,None,None,None
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,None,C,None,304.0,None
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,None,C,None,None,None
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,None,S,None,None,None

Above the parameter index with value False prevents the leftmost column to become the index and creates a new one.

We also open the Excel file of municipal key figures at the destination  http://myy.haaga-helia.fi/~menetelmat/Data-analytiikka/Teaching/municipal_key_figures.xlsx.

In [3]:
municipalities = xw.load()

### Here we wanted the leftmost column to be in the index.

municipalities

,"Degree of urbanisation, %, 2020","Population, 2020","Population change from the previous year, %, 2020","Share of persons aged under 15 of the population, %, 2020","Share of persons aged 15 to 64 of the population, %, 2020","Share of persons aged over 64 of the population, %, 2020","Share of Swedish-speakers of the population, %, 2020","Share of foreign citizens of the population, %, 2020","Excess of births, persons, 2020","Intermunicipal migration gain/loss, persons, 2020",...,"Number of workplaces in the area, 2019","Share of workplaces in primary production, %, 2019","Share of workplaces in secondary production, %, 2019","Share of workplaces in services, %, 2019","Workplace self-sufficiency, 2019","Annual contribution margin, EUR per capita, 2020","Loan stock, EUR per capita, 2020","Group loan stock, EUR per capita, 2020","Educational and cultural activities, total, operating net costs, EUR per capita, 2020","Social and health care activities, total, operating net costs, EUR per capita, 2020"
Akaa,87.9,16391.0,-0.5,16.5,59.3,24.2,0.2,1.8,-58.0,-45.0,...,4857.0,3.0,35.9,59.2,70.4,1066.9,3199.6,4623.2,1801.7,3252.7
AlajÃ¤rvi,61.6,9419.0,-1.5,17.4,54.3,28.3,0.1,2.8,-65.0,-122.0,...,3462.0,10.7,28.5,58.7,100.1,599.7,2942.5,5437.3,2322.5,4142.8
Alavieska,51.6,2517.0,-0.1,19.3,55.8,24.9,0.2,0.6,-4.0,1.0,...,710.0,22.3,22.3,53.5,72.4,783.1,3973.0,4469.2,2028.2,4153.8
Alavus,60.8,11332.0,-1.2,16.7,54.6,28.7,0.1,1.2,-39.0,-106.0,...,4295.0,8.8,22.2,67.6,99.4,456.8,4029.7,7135.7,1990.8,4354.0
Asikkala,65.0,8059.0,-0.3,13.3,52.7,34.0,0.2,1.8,-63.0,27.0,...,2237.0,8.9,29.5,58.5,75.4,1072.8,241.3,1623.5,1752.7,3559.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Tunturi-Lappi sub-regional unit,51.3,14466.0,0.1,14.7,60.2,25.1,0.5,2.7,-63.0,64.0,...,6847.0,4.0,16.5,77.4,105.0,1022.3,1978.7,5893.4,2516.7,4653.6
Pohjois-Lappi sub-regional unit,60.7,16347.0,-0.5,12.7,59.4,27.9,0.2,2.3,-133.0,28.0,...,7411.0,6.2,17.5,74.3,102.6,1052.7,3512.3,7263.7,2200.2,4833.5
Mariehamns stad sub-regional unit,99.6,11705.0,0.2,14.2,60.9,24.9,82.9,14.3,-35.0,-10.0,...,9522.0,0.1,8.4,89.5,170.1,783.6,2174.8,5891.5,2242.5,2049.3
Ã…lands landsbygd sub-regional unit,46.0,16356.0,1.3,18.8,60.8,20.4,89.1,10.1,18.0,24.0,...,5375.0,7.4,21.6,65.8,67.0,352.8,1202.3,534.9,2677.1,1729.6
Ã…lands skÃ¤rgÃ¥rd sub-regional unit,0.0,2068.0,0.5,11.5,55.0,33.5,82.5,12.2,-13.0,-10.0,...,678.0,15.5,9.1,67.7,73.9,304.6,2041.1,0.0,2563.8,2931.8

Notice that the Excel file you are working on should be on top of all Excel files.

In the next example we have just been working on a Microsoft Excel file with time series on it. The file can be found at http://myy.haaga-helia.fi/~menetelmat/Data-analytiikka/Teaching/time_series.xlsx.

In [4]:
### Read the data in an open Microsoft Excel file into a dataframe.

time_series = xw.load()

### View the result.

time_series

            Demand
Quarter
2013-12-31   500.0
2014-03-31   350.0
2014-06-30   250.0
2014-09-30   400.0
2014-12-31   450.0
2015-03-31   350.0
2015-06-30   200.0
2015-09-30   300.0
2015-12-31   350.0
2016-03-31   200.0
2016-06-30   150.0
2016-09-30   400.0
2016-12-31   550.0
2017-03-31   350.0
2017-06-30   250.0
2017-09-30   550.0
2017-12-31   550.0
2018-03-31   400.0
2018-06-30   350.0
2018-09-30   600.0
2018-12-31   750.0
2019-03-31   500.0
2019-06-30   400.0
2019-09-30   650.0
2019-12-31   850.0

In this case also the leftmost column becomes the index of the dataframe. It is rather useful for many applications.

In the examples above data was transferred from an Excel file into Jupyter. The order can be reversed, too. In the following cell we write statistical key figures into a new Excel file with information about municipals.

In [5]:
xw.view(municipalities.describe())

Also notice that Excel language settings are applied. Particularly, point or comma is used as decimal separator depending on the language settings of Excel.

Next we add a few columns to the the dataframe of time series.

In [6]:
### Add percentage changes and moving average columns to time series

time_series['Change from previous %'] = time_series['Demand'].pct_change()
time_series['Moving5'] = time_series['Demand'].rolling(5).mean()

time_series

            Demand  Change from previous %  Moving5
Quarter
2013-12-31   500.0                     NaN      NaN
2014-03-31   350.0               -0.300000      NaN
2014-06-30   250.0               -0.285714      NaN
2014-09-30   400.0                0.600000      NaN
2014-12-31   450.0                0.125000    390.0
2015-03-31   350.0               -0.222222    360.0
2015-06-30   200.0               -0.428571    330.0
2015-09-30   300.0                0.500000    340.0
2015-12-31   350.0                0.166667    330.0
2016-03-31   200.0               -0.428571    280.0
2016-06-30   150.0               -0.250000    240.0
2016-09-30   400.0                1.666667    280.0
2016-12-31   550.0                0.375000    330.0
2017-03-31   350.0               -0.363636    330.0
2017-06-30   250.0               -0.285714    340.0
2017-09-30   550.0                1.200000    420.0
2017-12-31   550.0                0.000000    450.0
2018-03-31   400.0               -0.272727    420.0
2018-06-30   350.0               -0.125000    420.0
2018-09-30   600.0                0.714286    490.0
2018-12-31   750.0                0.250000    530.0
2019-03-31   500.0               -0.333333    520.0
2019-06-30   400.0               -0.200000    520.0
2019-09-30   650.0                0.625000    580.0
2019-12-31   850.0                0.307692    630.0

Add the result to a file. For this we again use the function view() and as result a new Excel file with the above columns changes gets opened.

In [7]:
xw.view(time_series)

Next refer to an Excel file which is open on your desktop. We create a function for this.

In [10]:
book = xw.Book('municipal_key_figures.xlsx')

### Add a sheet

sheet = book.sheets.add('municipal_statistical_figures')

### Calculate and view the statistical key figures into the specified sheet

xw.view(municipalities.describe(), sheet = sheet)

### We also add the correlation coefficient, starting from specified cell A12

sheet.range('A12').value = municipalities.corr()

A new Exel file again opens. Review the result.

### Graphics

Let's create graphics from time series. For this, take the Excel file for time series into consideration and have it on top of all your files.

Now we create a figure and name it. Here we use the matplotlib library.

In [9]:
fig = plt.figure()

### Plot the series of demands

time_series['Demand'].plot()

### Moving average of five observations

time_series['Demand'].rolling(5).mean().plot()

### Gridlines of the backgroud

plt.grid(axis = 'both')

### Vertical axis label

plt.ylabel('Demand')

### Add this chart into Excel, original time series is found in the sheet called Sheet1

xw.sheets['Sheet1'].pictures.add(fig, name = 'MyPlot', update = True)

Have a look at your Excel file called time_series and its sheet Sheet1. There are many more chart types and their properties in Python compared to Excel charts. In this way we can use them in tandem.

#### Application

<a href = "http://myy.haaga-helia.fi/~taaak/">Aki Taanila</a> has written a <a href="https://nbviewer.org/github/taanila/tilastoapu/blob/master/pika.ipynb">Quick Analysis Tool with Python</a> (Finnish notebook). The result of the tool is an Excel file where you find frequency tables, cross tabulations and essential statistical key figures for analyzing your research data. You can study this <a href="https://nbviewer.org/github/juhanurmonen/data-analytics-basics-miscellaneous/blob/main/quick_analysis_tool.ipynb">English explanation of the quick analysis tool</a>

<u>Source</u>: Aki Taanila, <a href="https://tilastoapu.wordpress.com/python/">Data-analytiikka Pythonilla</a>